<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Users</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  
  <ion-list class="ios list-ios hydrated">

   
    <ion-item  class="user-list">
      <ion-label>
        Iqmal Syafiq 
      <p class="expenses">
        Admin
      </p>
      <p class="expenses">
        UNIMY
      </p>
    </ion-label>
       
      <div class="item-note" item-end>
        <button color='dark' ion-button clear >
          <ion-icon color='green' name="create" style="zoom:2.0"></ion-icon>
        </button>
        <button ion-button clear (click)="deleteJob(job.$key)">
          <ion-icon color='danger' name="trash" style="zoom:2.0"></ion-icon>
        </button>
      </div>
    </ion-item>

    <ion-item  class="user-list">
      <ion-label>
        Ahmad Albab 
      <p class="expenses">
        Company
      </p>
      <p class="expenses">
        Dell
      </p>
    </ion-label>
       
      <div class="item-note" item-end>
        <button color='dark' ion-button clear >
          <ion-icon color='green' name="create" style="zoom:2.0"></ion-icon>
        </button>
        <button ion-button clear (click)="deleteJob(job.$key)">
          <ion-icon color='danger' name="trash" style="zoom:2.0"></ion-icon>
        </button>
      </div>
    </ion-item>
    
    <ion-item  class="user-list">
      <ion-label>
        Siti Salhah 
      <p class="expenses">
        Student
      </p>
      <p class="expenses">
        UNIMY
      </p>
    </ion-label>
       
      <div class="item-note" item-end>
        <button color='dark' ion-button clear >
          <ion-icon color='green' name="create" style="zoom:2.0"></ion-icon>
        </button>
        <button ion-button clear (click)="deleteJob(job.$key)">
          <ion-icon color='danger' name="trash" style="zoom:2.0"></ion-icon>
        </button>
      </div>
    </ion-item>

  </ion-list>

  

  